:root {
    --principalFont: 'Rubik', sans-serif;
    --whiteColor: #ffffff;
    --textColor: #686d74;
    --bgColor: #f5f6fa;
    --bgteste: #adaeb1;
    --numberCounterColor: #5b59a1;
    --replyColor: #5357b6;
    --deleteColor: #f36665;
    --replyUserTag: #5a5ba5;
    --lineReplyComment: #e8e9ed;
    --textAreaFocus: #b2b3b6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--principalFont);
    font-size: 16px;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: var(--bgColor);
}

main {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 42em;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 8.3em;
}

a:hover {
    cursor: pointer;
}

.comments-container {
    display: flex;
    flex-direction: column;

    background-color: yellow;
}

.comments-reply-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment {
    display: flex;
    height: 9em;
    width: 42em;
    border-radius: 8px;
    margin: 0.3em 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: /*var(--whiteColor)*/ red;
}

.comments-reply {
    display: flex;
    height: 9em;
    width: 37em;
    border-radius: 8px;
    padding: 1em;
    box-sizing: border-box;
    background-color: /*var(--whiteColor)*/ green;
}

.comments-reply-line {
    display: flex;
    justify-content: end;
    height: 9em;
    width: 39.5em;
    margin: 0.3em 0;
    border-left: 1px solid var(--lineReplyComment);
}

.user-reply-tag {
    font-weight: bold;
    color: var(--replyUserTag);
}

.like-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5.5em;
    width: 3em;
    border-radius: 8px;
    background-color: var(--bgColor);
}

.like-container span {
    font-weight: bold;
    color: var(--numberCounterColor);
}

.like-container a {
    margin: 0.6em 0;
}

.like-container a:hover svg path {
    fill: var(--numberCounterColor);
}

.text-container {
    height: 100%;
    width: 100%;
    margin-left: 1em;
}

.text-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    width: 100%;
}

.text-title img {
    margin-right: 0.5em;
}

.text-title div {
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: bold;
}

.tag-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3em;
    width: 2.3em;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    margin: 0 0 0 0.2em;
    color: var(--whiteColor);
    background-color: var(--replyUserTag);
}

.text-time {
    margin-left: 1em;
    color: var(--textColor);
}

.reply-button {
    font-size: 15px;
    font-weight: 500;
    color: var(--replyColor);
}

.reply-button:hover {
    opacity: 0.5;
}

.edit-button {
    font-size: 15px;
    font-weight: 500;
    color: var(--replyColor);
}

.edit-button:hover {
    opacity: 0.5;
}

.delete-button {
    font-size: 15px;
    font-weight: 500;
    color: var(--deleteColor);
}

.delete-button:hover {
    opacity: 0.5;
}

.message-text {
    font-size: 15px;
    height: 5.5em;
    width: 100%;
    line-height: 18px;
    padding: 0.5em 0;
    box-sizing: border-box;
    color: var(--textColor);
}

.new-comment-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 7em;
    width: 42em;
    border-radius: 8px;
    padding: 1em;
    margin: 0.3em 0;
    box-sizing: border-box;
    background-color: var(--whiteColor);
}

.new-comment {
    font-family: var(--principalFont);
    height: 6em;
    width: 37em;
    resize: none;
    border: 1px solid var(--lineReplyComment);
    border-radius: 5px;
    padding: 0.9em;
    box-sizing: border-box;
    color: var(--textColor);
}

.new-comment:hover {
    cursor: pointer;
}

.new-comment:focus {
    outline: none !important;
    border: 1px solid var(--textAreaFocus);
}

.send-button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 2.8em;
    width: 5.8em;
    border: none;
    border-radius: 5px;
    color: var(--bgColor);
    background-color: var(--replyUserTag);
}

.send-button:hover {
    cursor: pointer;
    opacity: 0.5;
}